<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Smart_Society</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.motivity.admin.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SecurityGuardRegister</servlet-name>
		<servlet-class>com.motivity.securityguard.SecurityGuardRegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityGuardRegister</servlet-name>
		<url-pattern>/SecurityGuardRegisterController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateCourier</servlet-name>
		<servlet-class>com.motivity.securityguard.UpdateCourierDetailsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCourier</servlet-name>
		<url-pattern>/UpdateCourierDetailsController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateVisitor</servlet-name>
		<servlet-class>com.motivity.securityguard.UpdateVisitorDetailsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateVisitor</servlet-name>
		<url-pattern>/UpdateVisitorDetailsController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SecurityGuardLogin</servlet-name>
		<servlet-class>com.motivity.securityguard.SecurityGuardLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityGuardLogin</servlet-name>
		<url-pattern>/SecurityGuardLoginController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OwnerRegister</servlet-name>
		<servlet-class>com.motivity.owner.OwnerRegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OwnerRegister</servlet-name>
		<url-pattern>/OwnerRegisterController</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>OwnerLogin</servlet-name>
		<servlet-class>com.motivity.owner.OwnerLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OwnerLogin</servlet-name>
		<url-pattern>/OwnerLoginController</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>OwnerUpdate</servlet-name>
	<servlet-class>com.motivity.owner.OwnerProfileUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>OwnerUpdate</servlet-name>
	<url-pattern>/OwnerProfileUpdateController</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>Payment</servlet-name>
	<servlet-class>com.motivity.owner.OwnerPaymentController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>Payment</servlet-name>
	<url-pattern>/OwnerPaymentController</url-pattern>
	</servlet-mapping>
</web-app>