<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="rahul" class="com.motivity.Student">
		<property name="sid" value="102"></property>
		<property name="name" value="rahul kumar"></property>
		<property name="marks" value="666"></property>
	</bean>
</beans>