<div style="text-align:center">
  <h1>
    welcome to Angular Elearning
  </h1>
  <app-about></app-about>
  <!-- <app-ccontainer></app-ccontainer> -->
  <!-- <app-contact></app-contact> -->
  <!-- <app-firstcomponent></app-firstcomponent> -->
  <!-- <app-home></app-home> -->
  <!-- <app-root></app-root> -->
  <!-- <app-one></app-one> -->
  <!-- <app-pagenotfound></app-pagenotfound> -->
  <!-- <app-registration></app-registration>  -->
  <!-- <app-services></app-services> -->
  <!-- <app-ccontainer></app-ccontainer>  -->
  <!-- <nav>
    <a routerLink="home" routerLinkActive="active">Home</a>&nbsp;&nbsp;
    <a routerLink="about">About</a>&nbsp;&nbsp;
    <a routerLink="registration">Registration</a>&nbsp;&nbsp;
    <a routerLink="services">services</a>&nbsp;&nbsp;
    <a routerLink="contact">contact</a>
  </nav>
  <router-outlet></router-outlet> -->
</div>