<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<welcome-file-list>
    <welcome-file>index.html</welcome-file>
    </welcome-file-list>

	<servlet>
		<servlet-name>DoctorRegister</servlet-name>
		<servlet-class>com.motivity.doctor.DoctorRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoctorRegister</servlet-name>
		<url-pattern>/Doctor_Register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DoctorLogin</servlet-name>
		<servlet-class>com.motivity.doctor.DoctorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoctorLogin</servlet-name>
		<url-pattern>/Doctor_Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PatientRegister</servlet-name>
		<servlet-class>com.motivity.patient.PatientRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientRegister</servlet-name>
		<url-pattern>/Patient_Register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PatientLogin</servlet-name>
		<servlet-class>com.motivity.patient.PatientLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientLogin</servlet-name>
		<url-pattern>/Patient_Login</url-pattern>
	</servlet-mapping>
</web-app>