<p>
REGISTRATION COMPONENT TEMPLET RESULT VIEW
</p>
<h3>Class binding</h3>
<div class="container bg-light">

    <h1 CLASS="text-green">STATIC CLASS STYES</h1>
    
    <h1 [class]="classprop">DYNAMIC CLASS BINDING</h1>
    
    <h1 [class.bg-primary]="true">DYNAMIC CLASS BINDING</h1>
    
    <h1 [class.font-sizes]="is_status">DYNAMIC CLASS BINDING</h1>
    
    <h1 [ngClass]="m">MULTIPL CLASS BINDING..</h1>
    
    
    <!---
    <button (click)="myfun()">CLICK</button>
    -->
    
    </div>